<div class="wrapper">
  <form class="container" [formGroup]="settingsForm">
    <div class="input course_code">
      <input
        type="text"
        placeholder="Kurs kod"
        formControlName="CourseCode"
        (change)="updateSettings('CourseCode', $event)"
      />
    </div>

    <div class="input course_name">
      <input
        type="text"
        placeholder="Kurs namn"
        formControlName="CourseName"
        (change)="updateSettings('CourseName', $event)"
      />
    </div>

    <div class="input program">
      <select
        (change)="updateSettings('Program', $event)"
        formControlName="Program"
      >
        <option value="" hidden selected>Program</option>
        <option value=""></option>
        <option value="1859">ZBARD - TEKNISKT BASÅR PÅ DISTANS</option>
        <option value="1844">ZBASS - TEKNISKT BASÅR</option>
        <option value="1787">TKITE - INFORMATIONSTEKNIK, CIVILINGENJÖR</option>
        <option value="1788">
          TKKEF - KEMITEKNIK MED FYSIK, CIVILINGENJÖR
        </option>
        <option value="1792">TKTEM - TEKNISK MATEMATIK, CIVILINGENJÖR</option>
        <option value="1786">TKIEK - INDUSTRIELL EKONOMI, CIVILINGENJÖR</option>
        <option value="1782">TKBIO - BIOTEKNIK, CIVILINGENJÖR</option>
        <option value="1779">TKATK - ARKITEKTUR OCH TEKNIK</option>
        <option value="1789">TKKMT - KEMITEKNIK, CIVILINGENJÖR</option>
        <option value="1854">TKGBS - GLOBALA SYSTEM, CIVILINGENJÖR</option>
        <option value="1781">
          TKAUT - AUTOMATION OCH MEKATRONIK, CIVILINGENJÖR
        </option>
        <option value="1790">TKMAS - MASKINTEKNIK, CIVILINGENJÖR</option>
        <option value="1785">TKELT - ELEKTROTEKNIK, CIVILINGENJÖR</option>
        <option value="1791">TKTFY - TEKNISK FYSIK, CIVILINGENJÖR</option>
        <option value="1793">
          TKSAM - SAMHÄLLSBYGGNADSTEKNIK, CIVILINGENJÖR
        </option>
        <option value="1783">TKDAT - DATATEKNIK, CIVILINGENJÖR</option>
        <option value="1780">TKARK - ARKITEKTUR</option>
        <option value="1855">TKMED - MEDICINTEKNIK, CIVILINGENJÖR</option>
        <option value="1784">TKDES - TEKNISK DESIGN, CIVILINGENJÖR</option>
        <option value="1846">
          KPLOL - LÄRANDE OCH LEDARSKAP, KOMPLETTERANDE PEDAGOGISK UTBILDNING
        </option>
        <option value="1795">TIDAL - DATATEKNIK, HÖGSKOLEINGENJÖR</option>
        <option value="1796">
          TIDSL - DESIGN OCH PRODUKTUTVECKLING, HÖGSKOLEINGENJÖR
        </option>
        <option value="1799">TIMEL - MEKATRONIK, HÖGSKOLEINGENJÖR</option>
        <option value="1800">
          TIEPL - EKONOMI OCH PRODUKTIONSTEKNIK, HÖGSKOLEINGENJÖR
        </option>
        <option value="1798">TIMAL - MASKINTEKNIK, HÖGSKOLEINGENJÖR</option>
        <option value="1801">
          TISAM - SAMHÄLLSBYGGNADSTEKNIK, HÖGSKOLEINGENJÖR
        </option>
        <option value="1797">TIELL - ELEKTROTEKNIK, HÖGSKOLEINGENJÖR</option>
        <option value="1794">TIKEL - KEMITEKNIK, HÖGSKOLEINGENJÖR</option>
        <option value="1816">MPIDE - INTERAKTIONSDESIGN, MASTERPROGRAM</option>
        <option value="1834">MPTSE - INDUSTRIELL EKOLOGI, MASTERPROGRAM</option>
        <option value="1851">
          MPDCM - ORGANISERING OCH LEDNING I BYGG- OCH FASTIGHETSSEKTORN,
          MASTERPROGRAM
        </option>
        <option value="1814">
          MPENM - MATEMATIK OCH BERÄKNINGSVETENSKAP, MASTERPROGRAM
        </option>
        <option value="1849">MPDSC - DATA SCIENCE OCH AI, MASTERPROGRAM</option>
        <option value="1805">
          MPARC - ARKITEKTUR OCH STADSBYGGNAD, MASTERPROGRAM
        </option>
        <option value="1836">MPMCN - MATERIALKEMI, MASTERPROGRAM</option>
        <option value="1829">
          MPEES - INBYGGDA ELEKTRONIKSYSTEM, MASTERPROGRAM
        </option>
        <option value="1808">MPBIO - BIOTEKNIK, MASTERPROGRAM</option>
        <option value="1858">
          MPICT - INFORMATIONS- OCH KOMMUNIKATIONSTEKNIK, MASTERPROGRAM
        </option>
        <option value="1838">
          MPMAR - SJÖFARTENS ORGANISATION OCH LEDNING, MASTERPROGRAM
        </option>
        <option value="1833">
          MPIEE - INFRASTRUKTUR OCH MILJÖTEKNIK, MASTERPROGRAM
        </option>
        <option value="1837">
          MPLOL - LÄRANDE OCH LEDARSKAP, MASTERPROGRAM
        </option>
        <option value="1809">MPBME - MEDICINSK TEKNIK, MASTERPROGRAM</option>
        <option value="1815">
          MPEPO - HÅLLBARA ELKRAFTSYSTEM OCH ELEKTROMOBILITET, MASTERPROGRAM
        </option>
        <option value="1821">
          MPPEN - PRODUKTIONSUTVECKLING, MASTERPROGRAM
        </option>
        <option value="1856">MPMOB - MOBILITETSTEKNIK, MASTERPROGRAM</option>
        <option value="1820">MPPDE - PRODUKTUTVECKLING, MASTERPROGRAM</option>
        <option value="1802">MPAEM - MATERIALTEKNIK, MASTERPROGRAM</option>
        <option value="1825">
          MPSOV - LJUD OCH VIBRATIONER, MASTERPROGRAM
        </option>
        <option value="1804">MPAME - TILLÄMPAD MEKANIK, MASTERPROGRAM</option>
        <option value="1810">
          MPCAS - KOMPLEXA ADAPTIVA SYSTEM, MASTERPROGRAM
        </option>
        <option value="1803">
          MPALG - DATAVETENSKAP - ALGORITMER, PROGRAMSPRÅK OCH LOGIK,
          MASTERPROGRAM
        </option>
        <option value="1817">
          MPISC - INNOVATIV OCH HÅLLBAR KEMITEKNIK, MASTERPROGRAM
        </option>
        <option value="1824">
          MPSES - HÅLLBARA ENERGISYSTEM, MASTERPROGRAM
        </option>
        <option value="1822">
          MPQOM - KVALITETS- OCH VERKSAMHETSUTVECKLING, MASTERPROGRAM
        </option>
        <option value="1812">MPDES - TEKNISK DESIGN, MASTERPROGRAM</option>
        <option value="1832">
          MPSOF - SOFTWARE ENGINEERING AND TECHNOLOGY - UTVECKLING OCH
          IMPLEMENTERING AV MJUKVARA, MASTERPROGRAM
        </option>
        <option value="1850">MPPHS - FYSIK, MASTERPROGRAM</option>
        <option value="1823">
          MPSCM - SUPPLY CHAIN MANAGEMENT, MASTERPROGRAM
        </option>
        <option value="1835">
          MPWPS - TRÅDLÖS TEKNIK, FOTONIK OCH RYMDTEKNIK, MASTERPROGRAM
        </option>
        <option value="1848">
          MPHPC - HÖGPRESTERANDE DATORSYSTEM, MASTERPROGRAM
        </option>
        <option value="1830">MPNAT - NANOTEKNOLOGI, MASTERPROGRAM</option>
        <option value="1831">
          MPSEB - KONSTRUKTIONSTEKNIK OCH BYGGNADSTEKNOLOGI, MASTERPROGRAM
        </option>
        <option value="1828">
          MPCSN - DATORER, NÄTVERK OCH SYSTEM, MASTERPROGRAM
        </option>
        <option value="1813">
          MPDSD - ARKITEKTUR OCH PLANERING FÖR HÅLLBAR FRAMTID, MASTERPROGRAM
        </option>
        <option value="1826">
          MPSYS - SYSTEMTEKNIK, REGLERTEKNIK OCH MEKATRONIK, MASTERPROGRAM
        </option>
        <option value="1807">
          MPBDP - ENTREPRENÖRSKAP OCH AFFÄRSDESIGN, MASTERPROGRAM
        </option>
        <option value="1811">
          MPCOM - KOMMUNIKATIONSSYSTEM, MASTERPROGRAM
        </option>
        <option value="1818">MPMEI - INNOVATIONSLEDNING, MASTERPROGRAM</option>
        <option value="1840">TISJL - SJÖINGENJÖR</option>
        <option value="1841">TSJKL - SJÖKAPTEN</option>
        <option value="1847">SBVII - Sjöbefäl klass VII</option>
        <option value="1857">FVIID - Fartygsbefäl klass VII: Inre fart</option>
        <option value="1842">
          TAFFS - AFFÄRSUTVECKLING OCH ENTREPRENÖRSKAP INOM
          SAMHÄLLSBYGGNADSTEKNIK
        </option>
        <option value="1852">TSILO - INTERNATIONELL LOGISTIK</option>
        <option value="1853">TRACKS - TRACKS initiative</option>
        <option value="1843">SPRAK - Fackspråk och kommunikation</option>
        <option value="1845">MTS - Människa - teknik - samhälle</option>
        <option value="1827">FRIST - FRISTÅENDE KURS</option>
      </select>
    </div>

    <div class="input institution">
      <select
        (change)="updateSettings('Institution', $event)"
        formControlName="Institution"
      >
        <option value="" hidden selected>Instutition</option>
        <option value=""></option>
        <option value="0109">
          0109 - Examensarbeten inom biokemi, biomedicin och bioteknik GU
        </option>
        <option value="0113">0113 - BIOLOGI OCH MILJÖVETENSKAP GU</option>
        <option value="0114">0114 - KEMI OCH MOLEKYLÄRBIOLOGI GU</option>
        <option value="0115">0115 - NEUROVETENSKAP OCH FYSIOLOGI GU</option>
        <option value="0116">0116 - Medicin GU</option>
        <option value="0210">0210 - STATSVETENSKAPLIGA INSTITUTIONEN GU</option>
        <option value="11">11 - MATEMATISKA VETENSKAPER</option>
        <option value="16">16 - FYSIK</option>
        <option value="20">20 - ARKITEKTUR OCH SAMHÄLLSBYGGNADSTEKNIK</option>
        <option value="21">21 - KEMI OCH KEMITEKNIK</option>
        <option value="28">28 - BIOLOGI OCH BIOTEKNIK</option>
        <option value="30">30 - MEKANIK OCH MARITIMA VETENSKAPER</option>
        <option value="32">32 - ELEKTROTEKNIK</option>
        <option value="37">37 - DATA- OCH INFORMATIONSTEKNIK</option>
        <option value="40">40 - INDUSTRI- OCH MATERIALVETENSKAP</option>
        <option value="45">45 - TEKNIKENS EKONOMI OCH ORGANISATION</option>
        <option value="48">48 - SJÖFART OCH MARIN TEKNIK</option>
        <option value="59">59 - MIKROTEKNOLOGI OCH NANOVETENSKAP</option>
        <option value="62">62 - VETENSKAPENS KOMMUNIKATION OCH LÄRANDE</option>
        <option value="70">70 - RYMD-, GEO- OCH MILJÖVETENSKAP</option>
        <option value="88">88 - Generell kompetens</option>
        <option value="90">90 - TRACKS</option>
        <option value="91">91 - Verksamhetsstöd</option>
      </select>
    </div>

    <div class="input mode study_period">
      <button
        (click)="updateSettings('StudyPeriod', 'OTH')"
        type="button"
        class="option"
      >
        Fri
      </button>
      <button
        (click)="updateSettings('StudyPeriod', 'LP1')"
        type="button"
        class="option"
      >
        LP1
      </button>
      <button
        (click)="updateSettings('StudyPeriod', 'LP2')"
        type="button"
        class="option"
      >
        LP2
      </button>
      <button
        (click)="updateSettings('StudyPeriod', 'LP3')"
        type="button"
        class="option"
      >
        LP3
      </button>
      <button
        (click)="updateSettings('StudyPeriod', 'LPS')"
        type="button"
        class="option"
      >
        LPS
      </button>
    </div>

    <div class="input mode education_level">
      <button
        (click)="updateSettings('CourseLevel', '0')"
        type="button"
        class="option"
      >
        Förutbildningsnivå
      </button>
      <button
        (click)="updateSettings('CourseLevel', '1')"
        type="button"
        class="option"
      >
        Grundnivå
      </button>
      <button
        (click)="updateSettings('CourseLevel', '2')"
        type="button"
        class="option"
      >
        Avancerad nivå
      </button>
      <button
        (click)="updateSettings('CourseLevel', '3')"
        type="button"
        class="option"
      >
        Forskarnivå
      </button>
    </div>

    <div class="input mode year">
      <button
        (click)="updateSettings('Year', '1')"
        type="button"
        class="option"
      >
        År 1
      </button>
      <button
        (click)="updateSettings('Year', '2')"
        type="button"
        class="option"
      >
        År 2
      </button>
      <button
        (click)="updateSettings('Year', '3')"
        type="button"
        class="option"
      >
        År 3
      </button>
      <button
        (click)="updateSettings('Year', '4')"
        type="button"
        class="option"
      >
        År 4
      </button>
      <button
        (click)="updateSettings('Year', '5')"
        type="button"
        class="option"
      >
        År 5
      </button>
    </div>

    <div class="input min_credit">
      <input
        type="number"
        placeholder="Min poäng"
        formControlName="MinCredit"
        (change)="updateSettings('MinCredit', $event)"
      />
    </div>

    <div class="input max_credit">
      <input
        type="number"
        placeholder="Max poäng"
        formControlName="MaxCredit"
        (change)="updateSettings('MaxCredit', $event)"
      />
    </div>

    <div class="input mode language">
      <button
        (click)="updateSettings('Language', 'sv')"
        type="button"
        class="option"
      >
        Svenska
      </button>
      <button
        (click)="updateSettings('Language', 'en')"
        type="button"
        class="option"
      >
        Engelska
      </button>
    </div>

    <div class="input mode capacity">
      <button
        (click)="updateSettings('Capacity', 'J')"
        type="button"
        class="option"
      >
        Med platsgräns
      </button>
      <button
        (click)="updateSettings('Capacity', 'N')"
        type="button"
        class="option"
      >
        Utan platsgräns
      </button>
    </div>

    <div class="input mode sort">
      <button
        (click)="updateSettings('Sort', 'CODE')"
        type="button"
        class="option"
      >
        Kod
      </button>
      <button
        (click)="updateSettings('Sort', 'NAME')"
        type="button"
        class="option"
      >
        Namn
      </button>
      <button
        (click)="updateSettings('Sort', 'CREDIT_SORT')"
        type="button"
        class="option"
      >
        Poäng
      </button>
      <button
        (click)="updateSettings('Sort', 'DEPT')"
        type="button"
        class="option"
      >
        Institution
      </button>
    </div>
  </form>
</div>
